<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="animations(false)">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="animations(true)">Animer en boucle</button>
  <div class="square" style="background-color: red;" [@shake]="ng_shake"></div>

  <div class="square" style="background-color: green;" [@bounce]="ng_bounce"></div>

  <div class="square" style="background-color: blue;" [@tada]="ng_tada"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="turn()">Faire tourner</button>
  <div class="square" style="background-color:orange;" [class.rotate-left]="css_turn"></div>
</div>